/* reset */
/* a{
    color: inherit;
    text-decoration: none;
}

/* layout 
.wrapper{
    font-size: 18px;
    background: #8c8c8c;
    height: 100vh;
    position: relative;
}

section.main{
    width: 40%;
    background: #f6f6f6;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.7);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    overflow: hidden;
}

section.main .main-title{
    padding: 30px 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background: #a3f8ff;
    border-bottom: 1px solid #d3d3d3;
}

section.main .number-wrapper{
    padding: 50px 20px;
}

section.main .number-wrapper h2{
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
}

section.main .number-wrapper h2 em{
    font-size: 1.2em;
    font-weight: 700;
    color: red;
}

 #numbers{
     width: 70%;
     height: 400px;
     border: 1px solid #000;
     border-radius: 10px;
     padding: 30px 50px;
     margin: 30px auto 0;
     overflow: auto;

    display: grid;
    grid-template-columns: repeat (4, 1fr);
    justify-items: center;
    row-gap: 20px;
     /* display: flex;
     flex-wrap: wrap; 
 }

 #numbers .icon{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     font-size: 32px;
     font-weight: 700;
     color: #fff;
     background: #000;

     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 #numbers .icon:hover{
     opacity: 0.7;
     transform: scale(1.1);
 }

 #numbers .icon:nth-child(4n-3){
     background: orange ;
 }
 #numbers .icon:nth-child(4n-2){
     background: skyblue ;
 }
 #numbers .icon:nth-child(4n-1){
     background: yellowgreen ;
 }
 #numbers .icon:nth-child(4n){
     background: orangered ;
 } */




/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/* layout */
.wrapper {
    font-size: 18px;
    background: #8c8c8c;
    height: 100vh;
    position: relative;
}

section.main {
    width: 40%;
    background: #f6f6f6;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

section.main .main-title {
    padding: 30px 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background: #a3f8ff;
    border-bottom: 1px solid #d3d3d3;
}

section.main .number-wrapper {
    padding: 50px 20px;
}

section.main .number-wrapper h2 {
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
}

section.main .number-wrapper h2 em {
    font-size: 1.2em;
    font-weight: 700;
    color: red;
}

#numbers {
    width: 70%;
    height: 400px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 30px 50px;
    margin: 30px auto 0;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 20px;
}

#numbers .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#numbers .icon:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

#numbers .icon:nth-child(4n - 3) {
    background: orange;
}

#numbers .icon:nth-child(4n - 2) {
    background: skyblue;
}

#numbers .icon:nth-child(4n - 1) {
    background: yellowgreen;
}

#numbers .icon:nth-child(4n) {
    background: orangered;
}

.result {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0, -50%);

}

.result div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#up {
    background: red;
}

#down {
    background: blue;
}

.result div.selected {
    animation: jumping 0.3s infinite linear alternate;
}

@keyframes jumping {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(-20px);
    }
}

#finish {
    width: 60%;
    height: 200px;
    background: tomato;
    font-size: 80px;
    font-weight: 700;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;
    line-height: 200px;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    z-index: -100;
}

#finish.show {
    animation: showUp 1s linear forwards;
}

@keyframes showUp {
    0% {
        opacity: 0;
        top: -50%;
    }

    50% {
        opacity: 0.5;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 50%;
        z-index: 100;
    }
}

/* 정답아이콘에 id="move"가 붙으면 아이콘이 커지면서 움직이는 애니메이션 */

#move {
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 10;
    border: 3px dashed #000;
    animation: move 1s linear forwards;
}

@keyframes move {
    0% {
        top: 0;
        transform: translateX(0) rotate(0) scale(1);
    }

    100% {
        top: 10%;
        transform: translateX(-50%) rotate(720deg) scale(2);
    }
}